section{
	border:1px solid #DDD;
	padding:.1em;
	margin:.2em;
}

div.img-mini-container {
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}


div.img-mini-container img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img-description {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.font-small{
    font-size:.8em;
}